<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @content_block.page %>
</p>

<p>
  <strong>Name:</strong>
  <%= @content_block.name %>
</p>

<%= @content_block.content %>

<%= link_to 'Edit', edit_content_block_path(@content_block) %> |
<%= link_to 'Back', content_blocks_path %>
