<%= form_with(model: content_block, local: true, url: admin_content_block_path(content_block)) do |form| %>
  <% if content_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_block.errors.count, "error") %> prohibited this content_block from being saved:</h2>

      <ul>
        <% content_block.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
