<div id="react"></div>
<%= javascript_pack_tag 'camp' %>

<%= content(:yo) %>

<%= content(:Friday) %>

<%= content(:Saturday) %>

<% list(:Sunday).each do|s| %>
  <h1><%= "title=#{s.title} name=#{s.name}" %></h1>
  <%= s.content %>
<% end %>
